.container {
	text-align: center;
	background-image: url(imagenes/fondo.png);
}

.titulo {
	font-weight: bold;
	font-size: 20px;
}

.menu {
	float: left;
	text-align: left;
	display: inline-block;
	background-color: #918DFE;
	border: #716EDA 5px outset;
	font-weight: bolder;
}
.enlace {
	font-family: cursive;
	color: #00FFE4;
}
.out {
	color: red;
	font-style: cursive;
}
table {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: #716EDA 5px inset;
}
th, td {
	width: 30%;
	text-align: center;
	border: #716EDA 5px outset;
	border-collapse: collapse;
	padding: 5px;
	caption-side: bottom;
	background: #918DFE;
}
.add {
	text-align: left;
	font-size: 20px;
	font-weight: bolder;
	color: green;
}
.dato {
	text-align: left;
	font-weight: bold;
	color: white;
}
.columna {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.forma{
	width: 600px;
	font-weight: bold;
	font-size: 16px;
	background-color: #000000;
	color: #FFFFFF;
}
.detalle {
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}
.back {
	text-align: left;
}
.dom{
	font-size: 12px;
	font-weight: bold;
	color: green;
}